/*
Theme Name: Falcon Magazine Child
Theme URI: http://wellthemes.com/
Description: A Premium Magazine style Responsive WordPress Theme by WellThemes.
Author: WellThemes
Author URI: http://wellthemes.com/
Template: wt_falcon
Version: 1.0
Tags: white, black, gray, light, one-column, two-columns, right-sidebar, responsive-layout, custom-background, editor-style, featured-images, full-width-template, sticky-post, theme-options
Text Domain: wellthemes
*/
@import url("../wt_falcon/style.css");

/* =Aquí empieza la personalización de tu tema
-------------------------------------------------------------- */

/*=== main colors ===*/
.main-color{
	color: #195A3D;
}

.main-color-bg{
	background: #195A3D;
}

/*=== Sharing links ===*/
.entry-meta .author a{
	font-weight: 700;
	color: #195A3D;	
}

/*=== Post Archive ===*/
.excerpt-footer .more-link a{
	font-weight: 700;
	color: #195A3D;
}

/*=== Entry Tags ===*/
.entry-tags a{
	color: #EBAF00;
}

/* 8. WIDGETS
 * =========== */
.widget-title h4 span{
	font-weight: 700;
	margin-left: 5px;
	color: #195A3D;	
}