#loader {
    background-color: rgba(0, 0, 0, 0.8);
    background-size: 100%;
    background-image: url(../img/bg_loader.jpg);
}
#loader img{
    position: relative;
    margin: 100px auto;
}

.dot1, .dot2 {
    background-color: #fff;
}

#form_alert .modal-dialog .modal-content{
    border-width:  3px;
    border-style: solid ;    
}
#form_alert .modal-dialog .modal-content .modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
}
#form_alert .modal-dialog .modal-success{
    border-color: #5cb85c;
}

#form_alert .modal-dialog .modal-error{
    border-color: #d9534f;
}

#form_alert .modal-dialog .modal-success .modal-header  {
    background-color: #5cb85c;
}

#form_alert .modal-dialog .modal-error .modal-header {
    background-color: #d9534f;
}
.modal-header h1{
    color: #fff;
}
.modal-success .modal-body .alert_msg{
    color: #3c763d !important;
}
.modal-error .modal-body .alert_msg{
    color: #a94442 !important;
}

label.error{
    color: #f03A3A;
    font-size: 15px;
}

.transparent_input{
    border: 1px solid #fff;
    background-color: transparent;
    color: #1a5b3d;  
    height: 40px;
    transition: all .5s;
}
.transparent_input::placeholder {
    color:  rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.transparent_input:focus, 
.transparent_input:active{
    border: 1px solid #1a5b3d;
    background-color: #fff;
    color: #1a5b3d ; 
    transition: all .5s;
}

.iso {
    position: absolute;
    right: 15%;
    max-width: 70px;
    margin-top: 10px;

}

.navbar{
    margin-bottom: 0;
    border: none !important;
    background: #fff;
}
.navbar-brand {
    padding: 5px 15px ;

}
.navbar-nav > li > a.active:after {
    opacity: 1;
}
.navbar-nav > li > a:after {
    background-color: #1a5b3d;
}

.navbar-nav > li > a:after {
    position: absolute;
    bottom: 0;
    content: '';
    left: 50%;
    display: block;
    height: 5px;
    width: 5px;
    opacity: 0;
    margin: 0 0 -3px -2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
    border-bottom: 2px solid #1a5b3d;
}

.navbar-nav>li>.dropdown-menu {

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default .navbar-nav>li>a{
    font-weight: bold;
    padding: 33px 15px 33px 25px;
    display: inline-block;

}

.navbar-default .navbar-nav>li>a>i {
    color: #777;
}
.navbar-default .navbar-nav > li:hover > a>i{
    color: #1a5b3d;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.control-icon {
    position: absolute;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


.navbar-default .navbar-nav > .open > a {
    color:  #e6a702;
    background-color:#fff;
}

.dropdown > li:hover > a {
    color: #fff !important; 
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
}

.mega-dropdown {
    position: static !important;
    /*width: 100%;*/
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    /*    height: 1600px !important;*/
}

.navbar-nav > li > .dropdown-menu {
    margin-top: -3px;
    width: 100%;
    /*    min-height: 140px !important;*/
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: inline-block;
    padding: 8px 7px 8px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #c5c3c3;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus{
    text-decoration: none;
    color: #e6ab0e;
}
.mega-dropdown-menu > li ul > li > i{
    color:#c5c3c3;
}
.mega-dropdown-menu > li ul > li > a:hover i{
    color: #e6ab0e ;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.level2_opened{
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.mega-dropdown-menu .dropdown-header {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #e6a702;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.85);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #e6a702 !important;
    text-decoration: none;
    background-color: transparent;
}

.nav .caret {
    border-top-color: #c5c3c3;
    border-bottom-color: #c5c3c3;
}

.nav a:hover .caret{
    border-top-color: #1a5b3d;
    border-bottom-color: #1a5b3d;
}
.dropdown-menu > li > a {
    color:#fff;
}

.level3{
    display: none;
}

.level3 li a {
    color: #fff;
    list-style-type: square;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.level3 li a:hover{
    color: #c5c3c3;
}


.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}

.green_text{
    color: #1a5b3d;
}
.titulo_seccion {
    margin: 35px auto;
}

.separator{
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

.servicios_ofrecemos_txt {
    color: #1a5b3d;
    font-size: 19px;
    font-weight: 600;
    padding: 10px 0;
}
.servicios_ofrecemos_caja{
    background: #1a5b3d;
    padding: 10px;
    border-radius: 3px;
}
.servicios_ofrecemos_caja p{
    color:#fff;
    padding: 5px;
    border-bottom: 1px solid rgba(248, 248, 248, 0.16);
    transition: all ease-in-out .2s;
}

.servicios_ofrecemos_caja p:hover, .servicios_ofrecemos_caja .active {
    color: #e6a702;
    border-bottom: 1px solid rgba(230, 167, 2, 0.51);
    padding-left: 10px;
    transition: all ease-in-out .2s;
}

.servicios_ofrecemos_caja .active {
    border-left: 4px solid #e6a702;
}


/*desc*/
.desc_oc{
    position: absolute;
    z-index: -10;
}

.member-info p{
    padding: 5px 0px;
    font-style: italic;
    line-height: 1.45;
    color: #616161;
}

.navbar-default .navbar-toggle {
    border: 2px solid #1a5b3d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #1a5b3d;
}
@media (min-width: 1200px) { 

}
@media (min-width: 1024px) and (max-width: 1199px) {
    .navbar-brand img {
        margin-left: 10%;
        width: 100%;
    }
    .dropdown.mega-dropdown {
        margin-left: 15px;
    }

    .iso {
        position: absolute;
        right: 5%;
        max-width: 65px;
        margin-top: 5px;
    }
}

@media (min-width: 769px) and (max-width: 1023px)  {
    .navbar-brand img {
        margin-left: 10px;
    }
    .dropdown.mega-dropdown {
        margin-left: 0;
    }

    .iso {
        position: relative;
        right: 1%;
        max-width: 55px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 768px)  {
    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:hover, 
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > li > a{
        color: #1f1f1f !important;
        font-weight: 600;
        font-size: 17px;
    }

    .mega-dropdown-menu > li > ul > li > a {
        color: #464646;
    }
    /*    .navbar-default .navbar-nav > .open > a, 
        .navbar-default .navbar-nav > .open > a:hover, 
        .navbar-default .navbar-nav > .open > a:focus {
            background-color: transparent;
        }
    
        .nav.navbar-nav.navbar-left {
            position: absolute;
            width: 100%;
            height: 3000px;
            background: #1d1b1b;
            left: 0;
            top: 74%;
        }
    
        .navbar-default .navbar-nav > li > a {
            color: #fff;
        }*/

    .top-bar .contact-details li a span{
        font-size: 12px;
        display: inline-block;
    }
    .navbar-brand img{
        width: 55%;
    }
    .iso {
        max-width: 60px;
        margin-top: 0;
        position: absolute;
        right: 30%;
        max-width: 40px;
        top: 8px;
    }

}
