.banner_service{
    margin-bottom: 0; 
    position: relative;
}
.banner_service img {
    width: 100% ;
}
.service_tittle{
    position: absolute;
    bottom: 50px;
    left: 0;
}
.service_tittle h1 {
    color: #fff !important;
    font-size: 36px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 10px 20px 50px;
    left: 0;
    position: relative;
}

.titulo_seccion {
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.service{
    border-top: 10px solid #fff; 
    border-bottom: 10px solid #fff; 
    border-right: 5px solid #fff; 
    border-left: 5px solid #fff;
}

.bg_service {
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;    
}

.bg_service .description {
    padding: 25px 15px;
}

.bg_service p, .bg_service div{ 
    font-size: 17px;
    line-height: 1.42857143;
/*    padding: 0 20px;*/
}
.bg_service p, .bg_service h4, .bg_service h3, .bg_service h2{ 
    color:#fff ;
}
.bg_service_blur{    
    background: rgba(0, 0, 0, 0.8);
    padding-top: 25px;
    padding-bottom: 25px;
    display: table;
    color: #fff;
}

#contacto{
    max-width: 450px;
}
.contact_sbmt {
    background-color: #E7A600;
    font-size: 16px;
    color: #fff !important;
    margin-bottom: 10px;
    float: right;
}

.contact_sbmt:hover{
    background-color: #1a5b3d;
}

.service_image{
    display: block;
    overflow: hidden;
    max-height: 300px;
}


.col-md-4.service * .img-res{
    /*    width: auto;*/
    max-width: initial;
}

.col-md-8.service * img{
    width: 100%;

}

.caption {
    position:absolute;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.caption_text{
    display: none; 
    z-index: 2;
    padding: 0 20px; 
    width: 100%; 
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); 
    text-align: center; 
    color: #fff; 
    transition: top 1.2s ease-in-out;
}
.caption_text h3{
    color: #E7A600;
}
.caption_text p .label-default{
    background: #004610;
    padding: 7px 10px;
}
.caption_text p{
    color: #fff;
}
.caption_text p .label-default:hover{
    background: #e7a600; 
}
.yellow_tittle{
    position: absolute; 
    width: 100%;
    bottom: 0%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 70, 16, 0.8);
    transition: bottom 1.2s;   
    color: #fff; 
}
.yellow_tittle h4{
    color: #fff;
}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}



@media screen and (max-width: 768px)  {

    .service_tittle h1 {
        padding-left: 0; 
        font-size: 26px;
        padding: 0 10px;
    }

    .indicators .indicator{margin-bottom: 15px;}
    .bg_service{ max-height: 400px; overflow: scroll;}

    .bg_service p {
        font-size: 14px;
    }

}
@media screen and (min-width: 769px)  {

}

@media screen and (max-width: 950px)  {
    .bg_service{ 
        max-height: 400px; 
        overflow: scroll;
        background-repeat: repeat-y !important;
    }

}

@media screen and (max-width: 440px)  {
    .service_tittle {  
        bottom: 0;  
    }
    .bg_service{ 
        max-height: 220px; font-size: 12px;
        background-size: 150% !important;
        background-position: center 60% !important;
    }
}